<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6d761d66c3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/style1.css">
    <title>Document</title>
</head>
<body>
    <img src="images/WhatsApp Image 2022-08-02 at 18.43.43.jpeg" alt="" width="600" id="logo">
    <div id="form">
        <form action="">
            
            <h2 class="titulo">Venha para o nosso time!</h2>
           
            <label for="username">nome</label>
            <div class="input">
                <i class="fa-solid fa-user"></i>
                <input type="text" id="username" name="username" placeholder="Nome">
            </div>

            <label for="email">Email</label>
            <div class="input">
                <i class="fa-solid fa-envelope"></i>
                <input type="text" id="email" name="email" placeholder="Email">
            </div>

            <label for="funcao">Senha</label>
            <div class="input">
                <i class="fa-solid fa-lock"></i>
                <input type="text" id="senha" name="senha" placeholder="Senha">
            </div>


            <label for="matricula">matricula</label>
            <div class="input">
                <i class="fa-solid fa-id-card"></i>
                <input type="text" id="matricula" name="matricula" placeholder="Matricula">
            </div>

            <label for="contato">Contato</label>
            <div class="input">
                <i class="fa-solid fa-address-book"></i>
                <input type="text" id="contato" name="contato" placeholder="Contato">
            </div>

            <div id="botão">
                <button type="submit">Cadastrar</button>
            </div>


        </form>
    </div>
</body>
</html>